@charset 'utf-8';

html {
  box-sizing: border-box;
  vertical-align: baseline;
  font-size: $type--baseline-size;
}

body {
  margin-top: 0;
  font-family: $type--parent;
  line-height: $type--line-height;
  font-size: $type--initial-size;
}

*,
*:before,
*:after,
*:focus {
  box-sizing: inherit;
  outline: none;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

div {
  position: relative;
  margin: 0 auto;
}


a {
  color: $color--link;
  border-bottom: 0.1rem solid $color--link;
  transition: $set--transition;
}

a.active,
a:focus,
a:hover {
  opacity: 0.8;
  color: inherit;
  border-color: inherit;
}


body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
p {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1,
h2,
h3,
h4 {
  margin-bottom: $space--2;
}

h5,
h6,
p {
  margin-bottom: $space--1;
}

h1 {
  font-weight: 600;
  font-size: 5.2rem;
  line-height: 0.99;
}

h2 {
  font-weight: 600;
  font-size: 4.3rem;
  line-height: normal;
}

h3 {
  font-weight: 500;
  font-size: 3.1rem;
  line-height: 1.55;
}

h4 {
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 1.42;
}

h5 {
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.55;
}

h6 {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6;
}

p {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.9;
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child {
  margin-bottom: 0;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  user-drag: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
}