 .outer {
    min-width: 100%;
    width: 100%;

    &.no-inner,
    &.inner,
    .inner {
       @include tablet {
          padding-left: $space--1;
          padding-right: $space--1;
       }
    }

    &.inner,
    .inner {
       min-width: auto !important;
       @include max--widths();
    }
 }


 .row {
    display: flex;
    flex-direction: row;
    padding: 0;
    width: 100%;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;

    &.align-top,
    &.a-top {
       align-items: flex-start;
    }

    &.align-bottom,
    &.a-b {
       align-items: flex-end;
    }

    &.align-center,
    &.a-c {
       align-items: center;
    }

    &.align-baseline,
    &.a-bl {
       align-items: baseline;
    }

    .column {
       display: inline-block;
       flex: 1 1 auto;
       margin-left: 0;
       max-width: 100%;
       width: 100%;
       margin-bottom: inherit;
       padding-right: ($space--1 / 2);
       padding-left: ($space--1 / 2);

       @include laptop {
          padding-right: ($space--1 / 1.25);
          padding-left: ($space--1 / 1.25);
       }

       @include desktop {
          padding-right: ($space--1 / 1.5);
          padding-left: ($space--1 / 1.5);
       }

       @include tablet {
          padding-right: ($space--1 / 1.4);
          padding-left: ($space--1 / 1.4);

          &.p-r {
             padding-right: $space--3 / 1.25;
          }

          &.p-l {
             padding-left: $space--3 / 1.25;
          }

       }

       @include phone {
          padding-right: ($space--1 / 1.3);
          padding-left: ($space--1 / 1.3);
       }

       /* Columns, default from tablet up */
       @include tablet {
          @include render-column(5);
          @include render-column(10);
          @include render-column(15);
          @include render-column(20);
          @include render-column(25);
          @include render-column(30);
          @include render-column(33);
          @include render-column(35);
          @include render-column(40);
          @include render-column(50);
          @include render-column(60);
          @include render-column(65);
          @include render-column(66);
          @include render-column(70);
          @include render-column(75);
          @include render-column(80);
          @include render-column(85);
          @include render-column(90);
          @include render-column(95);
          @include render-column(100);
          @include render-offset(5);
          @include render-offset(10);
          @include render-offset(15);
          @include render-offset(20);
          @include render-offset(25);
          @include render-offset(30);
          @include render-offset(33);
          @include render-offset(35);
          @include render-offset(40);
          @include render-offset(50);
          @include render-offset(60);
          @include render-offset(65);
          @include render-offset(66);
          @include render-offset(70);
          @include render-offset(75);
          @include render-offset(80);
          @include render-offset(85);
          @include render-offset(90);
          @include render-offset(95);
       }

       /* Columns, phone only */
       @include phone {
          @include render-column-phone(5);
          @include render-column-phone(10);
          @include render-column-phone(15);
          @include render-column-phone(20);
          @include render-column-phone(25);
          @include render-column-phone(30);
          @include render-column-phone(33);
          @include render-column-phone(35);
          @include render-column-phone(40);
          @include render-column-phone(50);
          @include render-column-phone(60);
          @include render-column-phone(65);
          @include render-column-phone(66);
          @include render-column-phone(70);
          @include render-column-phone(75);
          @include render-column-phone(80);
          @include render-column-phone(85);
          @include render-column-phone(90);
          @include render-column-phone(95);
          @include render-column-phone(100);
          @include render-offset-phone(0);
          @include render-offset-phone(5);
          @include render-offset-phone(10);
          @include render-offset-phone(15);
          @include render-offset-phone(20);
          @include render-offset-phone(25);
          @include render-offset-phone(30);
          @include render-offset-phone(33);
          @include render-offset-phone(35);
          @include render-offset-phone(40);
          @include render-offset-phone(50);
          @include render-offset-phone(60);
          @include render-offset-phone(65);
          @include render-offset-phone(66);
          @include render-offset-phone(70);
          @include render-offset-phone(75);
          @include render-offset-phone(80);
          @include render-offset-phone(85);
          @include render-offset-phone(90);
          @include render-offset-phone(95);
       }

       /* Columns, tablet only */
       @include tablet-specific {
          @include render-column-tablet(5);
          @include render-column-tablet(10);
          @include render-column-tablet(15);
          @include render-column-tablet(20);
          @include render-column-tablet(25);
          @include render-column-tablet(30);
          @include render-column-tablet(33);
          @include render-column-tablet(35);
          @include render-column-tablet(40);
          @include render-column-tablet(50);
          @include render-column-tablet(60);
          @include render-column-tablet(65);
          @include render-column-tablet(66);
          @include render-column-tablet(70);
          @include render-column-tablet(75);
          @include render-column-tablet(80);
          @include render-column-tablet(85);
          @include render-column-tablet(90);
          @include render-column-tablet(95);
          @include render-column-tablet(100);
          @include render-offset-tablet(0);
          @include render-offset-tablet(5);
          @include render-offset-tablet(10);
          @include render-offset-tablet(15);
          @include render-offset-tablet(20);
          @include render-offset-tablet(25);
          @include render-offset-tablet(30);
          @include render-offset-tablet(33);
          @include render-offset-tablet(35);
          @include render-offset-tablet(40);
          @include render-offset-tablet(50);
          @include render-offset-tablet(60);
          @include render-offset-tablet(65);
          @include render-offset-tablet(66);
          @include render-offset-tablet(70);
          @include render-offset-tablet(75);
          @include render-offset-tablet(80);
          @include render-offset-tablet(85);
          @include render-offset-tablet(90);
          @include render-offset-tablet(95);
       }

       /* Columns, laptop only */
       @include laptop-specific {
          @include render-column-laptop(5);
          @include render-column-laptop(10);
          @include render-column-laptop(15);
          @include render-column-laptop(20);
          @include render-column-laptop(25);
          @include render-column-laptop(30);
          @include render-column-laptop(33);
          @include render-column-laptop(35);
          @include render-column-laptop(40);
          @include render-column-laptop(50);
          @include render-column-laptop(60);
          @include render-column-laptop(65);
          @include render-column-laptop(66);
          @include render-column-laptop(70);
          @include render-column-laptop(75);
          @include render-column-laptop(80);
          @include render-column-laptop(85);
          @include render-column-laptop(90);
          @include render-column-laptop(95);
          @include render-column-laptop(100);
          @include render-offset-laptop(0);
          @include render-offset-laptop(5);
          @include render-offset-laptop(10);
          @include render-offset-laptop(15);
          @include render-offset-laptop(20);
          @include render-offset-laptop(25);
          @include render-offset-laptop(30);
          @include render-offset-laptop(33);
          @include render-offset-laptop(35);
          @include render-offset-laptop(40);
          @include render-offset-laptop(50);
          @include render-offset-laptop(60);
          @include render-offset-laptop(65);
          @include render-offset-laptop(66);
          @include render-offset-laptop(70);
          @include render-offset-laptop(75);
          @include render-offset-laptop(80);
          @include render-offset-laptop(85);
          @include render-offset-laptop(90);
          @include render-offset-laptop(95);
       }

       /* Columns, desktop only */
       @include desktop {
          @include render-column-desktop(5);
          @include render-column-desktop(10);
          @include render-column-desktop(15);
          @include render-column-desktop(20);
          @include render-column-desktop(25);
          @include render-column-desktop(30);
          @include render-column-desktop(33);
          @include render-column-desktop(35);
          @include render-column-desktop(40);
          @include render-column-desktop(50);
          @include render-column-desktop(60);
          @include render-column-desktop(65);
          @include render-column-desktop(66);
          @include render-column-desktop(70);
          @include render-column-desktop(75);
          @include render-column-desktop(80);
          @include render-column-desktop(85);
          @include render-column-desktop(90);
          @include render-column-desktop(95);
          @include render-column-desktop(100);
          @include render-offset-desktop(0);
          @include render-offset-desktop(5);
          @include render-offset-desktop(10);
          @include render-offset-desktop(15);
          @include render-offset-desktop(20);
          @include render-offset-desktop(25);
          @include render-offset-desktop(30);
          @include render-offset-desktop(33);
          @include render-offset-desktop(35);
          @include render-offset-desktop(40);
          @include render-offset-desktop(50);
          @include render-offset-desktop(60);
          @include render-offset-desktop(65);
          @include render-offset-desktop(66);
          @include render-offset-desktop(70);
          @include render-offset-desktop(75);
          @include render-offset-desktop(80);
          @include render-offset-desktop(85);
          @include render-offset-desktop(90);
          @include render-offset-desktop(95);
       }

       /* Columns, retina only */
       @include wide {
          @include render-column-wide(5);
          @include render-column-wide(10);
          @include render-column-wide(15);
          @include render-column-wide(20);
          @include render-column-wide(25);
          @include render-column-wide(30);
          @include render-column-wide(33);
          @include render-column-wide(35);
          @include render-column-wide(40);
          @include render-column-wide(50);
          @include render-column-wide(60);
          @include render-column-wide(65);
          @include render-column-wide(66);
          @include render-column-wide(70);
          @include render-column-wide(75);
          @include render-column-wide(80);
          @include render-column-wide(85);
          @include render-column-wide(90);
          @include render-column-wide(95);
          @include render-column-wide(100);
          @include render-offset-wide(0);
          @include render-offset-wide(5);
          @include render-offset-wide(10);
          @include render-offset-wide(15);
          @include render-offset-wide(20);
          @include render-offset-wide(25);
          @include render-offset-wide(30);
          @include render-offset-wide(33);
          @include render-offset-wide(35);
          @include render-offset-wide(40);
          @include render-offset-wide(50);
          @include render-offset-wide(60);
          @include render-offset-wide(65);
          @include render-offset-wide(66);
          @include render-offset-wide(70);
          @include render-offset-wide(75);
          @include render-offset-wide(80);
          @include render-offset-wide(85);
          @include render-offset-wide(90);
          @include render-offset-wide(95);
       }
    }
 }