/* typography */
$type--parent: -apple-system,
system-ui,
BlinkMacSystemFont,
sans-serif !default;
$type--line-height: 1.6 !default;
$type--baseline-size: 62.5% !default;
$type--initial-size: 1.5rem !default;

/* colors */
$color--light: #fff !default;
$color--dark: #000 !default;
$color--link: rgb(34, 34, 34) !default;

$set--transition: all 0.17s ease-in-out !default;

/* spacing */
$space--1: 1rem !default;
$space--2: 3rem !default;
$space--3: 9rem !default;
$space--4: 12rem !default;
$space--5: 24rem !default;

/* breakpoints (when) */
$break--1: 600px !default;
$break--2: 900px !default;
$break--3: 1200px !default;
$break--4: 1800px !default;

/* widths */
$width--phone: 95% !default;
$width--tablet: 95% !default;
$width--laptop: 128rem !default;
$width--desktop: 150rem !default;
$width--wide-a: 95% !default;
$width--wide-b: 175rem !default;